
<div class="row counter-row">
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">@ViewBag.ProductCount</h1>
		<p>Çeşitlerimiz</p>
	</div>
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">@ViewBag.CategoryCount</h1>
		<p> Türlerimiz</p>
	</div>
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">@ViewBag.FeatureCount</h1>
		<p>Resimlerimiz</p>
	</div>
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">@ViewBag.TestimonialCount</h1>
		<p>Müşteri Yorumlarımız</p>
	</div>
</div>

			